@define-mixin atSmall{
    /* the value for the min-with is 430px but for the sake of testing small screen functionality we change it to 830px */
    @media(min-width: 430px){
        @mixin-content;
    }
}

@define-mixin atMedium{
    @media(min-width: 1200px){
        @mixin-content;
    }
}

@define-mixin clearFix{
    &::after{
        content:"";
        clear: both;
        display: table; 
    }
}

