.primary-nav{

    padding-top: 10px;

    @mixin atMedium{
        padding-top: 0;
    }

     &--pull-right{

         @mixin atMedium{
            float: right;
         }
        
    }

    ul {
        margin: 0;
        padding: 0;
       
      @mixin clearFix;    /*because we float them left then we need to do the following  */
    }

    li {
       
        list-style: none;  /* to remove bullet point */
        display: inline-block; /*allows li s to be horizontaly centered*/
        padding-right: 7px;
        @mixin atMedium{
            float: left;
            display: block;
            padding-right: 20px;
        }
    }
    li:last-child{
        padding-right: 0;
        @mixin atMedium{
            padding-right: 20px;
        }
    }



    a {
        color: #fff;
        text-decoration: none;
        font-weight: 300;   
        display:block;
        padding: 5px 8 px;
        font-size: .8rem;
        background-color: rgba($mainBlue, .5);

        @mixin atMedium{
            padding: 12px 0;
            font-size: 1rem;
            background-color: transparent;

            &.is-current-link{
                color: #fabb69;
            }
        }
    }

  

    

}